{% extends "base.html" %}
{% load i18n %}
{% load babel %}
{% block title %}{% trans "Support" %}{% endblock %}
{% block body %}
<h1>{% trans "Support" %}</h1>
<ul class="object-tools">
    <li><a class="addlink" href="{% url panel.views.support_add %}">{% trans "New ticket" %}</a></li>
</ul>
<table width="100%" border="0" cellpadding="4" cellspacing="0">
    <thead>
        <tr>
            <th width="50%">{% trans "Subject" %}</th>
            <th width="20%">{% trans "Created" %}</th>
            <th width="20%">{% trans "Last message" %}</th>
            <th width="10%">{% trans "Messages" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for line in object_list %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <td><a href="{% url panel.views.support_view line.id %}">{{ line.subject }}</a></td>
            <td>{{ line.first_message.posted|datefmt:"short" }}</td>
            <td>{{ line.last_message.posted|datefmt:"short" }}</td>
            <td>{{ line.count_messages }} ({{ line.count_responses }} {% trans "from admin" %})</td>
        </tr>
    {% empty %}
        <tr><td colspan="4" align="center">{% trans "No ticket" %}</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}